@import "settings.css";

@font-face {
  font-family: 'Source Sans Pro';
  src: '/fonts/SourceSansPro-Regular.otf.woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: '/fonts/SourceSansPro-It.otf.woff';
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: '/fonts/SourceSansPro-Bold.otf.woff';
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: '/fonts/SourceSansPro-BoldIt.otf.woff';
  font-weight: bold;
  font-style: italic;
}



* {
  color: var(--text-color);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 14px;
  text-align: justify;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}


a:link { color: var(--theme-color); }
a:visited { color: var(--light-back-color); }
a:hover { color: var(--highlight-color); }


h1, h2, h3, h4 {
  color: var(--heading-color);

}

main h1 {
  /*padding-bottom: .5em;*/
  /*padding-top: 1em*/
  font-size: 2em;
  color: var(--theme-color);
  /*background-color: gray;*/
  text-align: center;
}

main h2, main h3, main h4 {
  padding-top: calc(var(--menu-height) * 1.5 + .2em);
  margin-top: calc(var(--menu-height) * -1.5);
}

.summary {
  padding-top: 0px;
}

.summary h1 {
  font-size: 1.5em;
}


main {
  background-color: transparent;
  margin: calc(var(--menu-height) + 4 * var(--float-margins)) auto;
  margin-left: calc(var(--sidebar-width) + 2 * var(--float-margins));
  margin-right: var(--float-margins)
  /*border: 1px solid gray;*/
}

pre {
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 3px;
  overflow-x: scroll;
}

code {
  color: var(--float-color);
  background-color: var(--background-color);
  border-radius: 3px;
  /*padding: 2px;*/
}

aside, article, section {
  background-color: var(--float-color);
  margin: var(--float-margins);
  padding: var(--float-margins) calc(var(--float-margins) * 4);
  border-radius: 10px;
  border: 1px solid var(--edge-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
  position: relative;
}

section {
  border-radius: 3px;
  box-shadow: none;
  border: none;
}

aside {
  top: calc(var(--menu-height) + 3 * var(--float-margins));
  position: fixed;
  padding: 0px;
  padding-bottom: 10px;
  background-color: var(--float-color);
  width: var(--sidebar-width);
  left: 0px;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 3px;
  max-height: calc(100% - 2 * var(--menu-height));
  overflow: scroll;
}

aside.homepage {
  position: absolute;
  right: var(--float-margins);
  left: auto;
  top: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(var(--sidebar-width) * 1.5);
  z-index: 20;
}

main.homepage {
  padding-top: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.featureheading {
  position: relative;
  border: 1px solid pink;
  padding: 0;
  height: 100%;
}

.featureheading h1 {
  text-align: center;
  position: absolute;
  margin: 0;
  top: 50%;
  z-index: 30;
  width: 100%;
  font-variant: small-caps;
  font-size: 2.5em;
  color: white;
  text-shadow: 2px 2px 2px var(--shadow-color);;
}

.featureheading img {
  position: relative;
  height: 100%;
  max-height: 100%;
  min-width: 100%;
  /*width: 100%;*/
  overflow-y: hidden;
  object-fit: cover;
}

.homepage hr {
  display: none;
}

section {
  border: none;
  border-radius: 0;
  margin: 0;
  padding-right: calc(var(--sidebar-width) * 1.5 + 2 * var(--float-margins))
}

/*section:first-of-type {
  border-top-style: solid;
  border-radius: 3px 3px 0 0;
}*/

section:nth-of-type(2n) {
  --text-color: white;
  --float-color: var(--background-color);
  --heading-color: var(--theme-color);
}

/*section:last-of-type {
  border-bottom-style: solid;
  border-radius: 0 0 3px 3px;
}*/

img {
  max-width: 100%;
}

.summary {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  padding-left: 0;
}

.summary:after {
  content: "";
  display: table;
  clear: both;
}

.summary img.feature {
  position: absolute;
  /*max-width: calc(var(--sidebar-width) / 2);*/
  align-self: flex-start;
  height: 100%;
  /*border: 1px solid;*/
  border-radius: 9px 0 0 9px;
}

.summary .content {
  /*position: relative;*/
  margin-left: 120px;
  display: block;
  float: left;
}

body > footer {
  color: var(--edge-color);
  margin: 0 auto;
  /*border: 1px solid;*/
  /*width: 80%;*/
  padding: calc(var(--float-margins) * 2);
  padding-top: 0;
  margin-left: calc(var(--sidebar-width) + 2 * var(--float-margins));
}

header {
  font-size: 16px;
  font-weight: 900;
	position: fixed;
	top: 0;
	width: 100%;
  background-color: var(--menu-color);
	z-index: 100;
  padding: 0px;
  display: block;
  box-shadow: 0px 5px 10px var(--shadow-color);
  /*transition: all .5s;*/
}

header.transparent {
  background-color: rgba(0, 0, 0, 0);
}

header nav {
  padding: 0px 30px;
  padding-top: var(--menu-padding);
  height: var(--menu-height);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

nav li {
  float: left;
  position: relative;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  box-sizing: border-box;
  display: block;
  z-index: 10;
  /*border: 1px solid;*/
}

nav a:link { color: var(--text-color); }
nav a:visited { color: var(--text-color); }

header a {
  height: var(--menu-height);
  padding: 15px;
}

.navicon {
  display: none;
  padding: 0;
  float: left;
}

.navicon label {
  display: block;
  height: calc(100% - 15px);
  padding-top: 15px;
}

.logo {
  float: left;
}

.logo > img {
  height: calc(var(--menu-height) + 10px);
  margin: -20px 0 -10px -15px;
  float: left;
}

.search {
  float: right;
}

.menui {
  text-align: center;
  min-width: var(--menu-height);
}

nav a:hover {
  color: var(--edge-color);
  background-color: var(--theme-color);
}

nav a:hover h1 {color: var(--edge-color);}
nav a:hover span {color: var(--edge-color);}

nav a:active {
  color: var(--edge-color);
  background-color: var(--highlight-color);
}

nav li:hover > ul.submenu {
  display: block;
  float: none;
}

.submenu {
	display: none;
  position: absolute;
  width: 100%;
}

.submenu > li {
	width: 100%;
  background-color: var(--menu-color);
  font-weight: bold;
}

.submenu a {
  margin-bottom: 1px;
  color: var(--text-color);
}

header .submenu {
  border: 1px solid var(--edge-color);
  border-top: none;
  margin-left: -1px;
  list-style-position: inside;
  list-style-type: disc;
}

header .submenu a {
  box-sizing: border-box;
  padding: 5px 15px;
  height: 30px;
}

header .pagemenu {
  display: none;
}

#TableOfContents {
  font-weight: lighter;
}

aside ul {
  display: block;
  float: none;
}

aside li {
  box-sizing: border-box;
  display: block;
  padding-left: 10px;
  float: none;
}

aside nav > a {
  height: 100%;
  position: relative;
  padding-top: 1px;
  margin-bottom: 1px;
  display: block;
  border-radius: 2px 2px 0 0;
}

aside h1 {
  text-align: center;
}

aside .submenu {
  position: relative;
  display: inline;
}

.pagemenu {
  list-style-position: inside;
  list-style-type: disc;
}

.pagemenu > li {
  display: list-item;
  padding: 0;
}

aside .submenu a {
  margin-left: -10px;
  padding-left: 10px;
}

#TableOfContents li {
  padding-left: 15px;
}

#TableOfContents > ul > li {
  padding-left: 0px;
}

/*#TableOfContents a {
  margin-left:  0px;
  padding-left: 0px;
}*/

#navicon {
  display: none;
}

nav li.active > a {
  color: var(--edge-color);
  background-color: var(--theme-color);
}

@media (max-width: 800px) {
  aside {
    position: relative;
    margin-left: calc(2 * var(--float-margins));
  }
  main {
    margin-left: var(--float-margins);
  }
}

@media (max-width: 700px) {
  :root {
    --float-margins: 5px;
  }
/*
  article {
    padding: var(--float-margins) 10px;
  }*/

  header .menu {
    display: none;
  }

  header nav {
    padding-left: 0;
    padding-right: 0;
  }

  nav li:hover ul.submenu {
    margin-top: -10px;
  }

  .navicon {
    display: block;
  }

  header .submenu {
    position: relative;
    margin: 0;
    border: none;
  }

  .logo {
    width: 120px;
    display: block;
    float: none;
    margin: 0 auto;
  }

  #navicon:checked + a {
    background: var(--theme-color);
  }

  #navicon:checked ~ .menu {
    position: absolute;
    top: calc(var(--menu-height) + var(--menu-padding));
    display: block;
    max-width: 400px;
  }

  #navicon:checked ~ .menu li {
    float: none;
  }

  #navicon:checked ~ .menu a {
    height: 100%;
    color: var(--edge-color);
    background-color: var(--theme-color);
  }

  #navicon:checked ~ .menu a:hover {
    background-color: var(--highlight-color);
  }
}

@media (max-height: 600px) {
  :root {
    --menu-padding: 0px;
  }
}

aside .submenu {
  display: block;
}

::selection {
  color: var(--edge-color);
  background-color: var(--theme-color);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 1.2s;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
   transform: rotate(-25deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
   transform: rotate(-25deg);
  }

  70% {
    transform: rotate(10deg);
  }

  80% {
   transform: rotate(-25deg);
  }

  90% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
