<div class="form  form--search">
    <form id="contact-form" action="">
        <label class="label" for="search">Search term:</label>
        <input class="input" id="search" type="search" name="search" placeholder="e.g. About us" autocomplete="off" />

        <div id="list">
            <!-- results go here -->
      	</div>
    </form>
</div>

<script type="text/javascript" src="/scripts/fetch.js"></script>
<script type="text/javascript">
    const endpoint = "/tahiti/index.json";
    const pages = [];

    fetch(endpoint)
        .then(blob => blob.json())
        .then(data => pages.push(...data))

    function loadPage(href) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", href, false);
                xmlhttp.send();
                if (xmlhttp.status == 404) {
                  return '';
                } else {
                  return xmlhttp.responseText;
                }
    }

    function findResults(termToMatch, pages) {
        return pages.filter(item => {
            const regex = new RegExp(termToMatch, 'gi');
            return item.title.match(regex) || item.content.match(regex);
        });
    }

    function displayResults() {
        if (this.value.length > 2) {
          const resultsArray = findResults(this.value, pages);
          const html = resultsArray.map(item => {
            return loadPage(item.uri + "/search.html")
          }).join('');
          if ((html.length == 0) || (this.value == '')) {
              resultsList.innerHTML = `<p>Sorry, nothing was found</p>`;
          } else {
              resultsList.innerHTML = html;
          }
        } else {
          resultsList.innerHTML = '';
        }
    }

    const field = document.querySelector('#search');
    const resultsList = document.querySelector('#list');

    field.addEventListener('change', displayResults);
    field.addEventListener('keyup', displayResults);

    field.addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
          event.preventDefault();
        }
    });
</script>
<noscript>Please enable JavaScript to use the search form.</noscript>
